<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arta Biohof</title>
  <style>
@import url('https://fonts.bunny.net/css?family=aleo:400,600,800');

/* RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* TYPO */


* {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
}

b, strong {
  font-weight: 600;
}

nav > .wrapper > .logo {
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 28px;
  margin-bottom: 16px;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.content ul {
  list-style-type: circle;
  list-style-position: outside;

}
.content ul > li {
  margin-left: 25px;
}

/* LAYOUT */

:root {
  --padding: 24px;
}

* {
	scroll-behavior: smooth;
  scroll-margin-top: 55px;
}

nav {
  position: sticky;
  top: 0px;
}

nav > .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding) 0;
}

nav > .wrapper > .logo {
  flex-shrink: 0;
}

nav > .wrapper > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px var(--padding);
  list-style-type: none;
}

nav > .wrapper > ul > li {
  display: block;
}

section > .wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

section {
  padding: 60px 0;
}

.gallery {
  column-count: 3;
  column-gap: 25px;
  column-fill: balance;
}

.gallery-entry {
width: 100%;
overflow: hidden;
}

.gallery-entry img {
width: 100%;
display: block;
margin-bottom: 25px;
}

/* COLOR */

:root {
  --black-black: #444;
  --color-citron: #e1ce7a;
  --color-cream: #fbffb9;
  --color-sunset: #FDD692;
  --color-terracotta: #EC7357;
  --color-liver: #00ff00;
}

nav {
  background-color: var(--color-sunset);
  color: var(--color-black);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

a, p, h1, h2, h3, h4, h5 {
  color: var(--color-black);
}

section {
  display: block;
}

#home {
  text-align: center;
  background-color: var(--color-cream);
}

#team {
  background-color: var(--color-citron);
}

#pferde {
  background-color: var(--color-sunset);
}

#aepfelundbirnen {
  background-color: var(--color-terracotta);
}

#mosterei {
  background-color: var(--color-citron);
}

#impressionen {
  background-color: var(--color-cream);
}

#kontakt {
  background-color: var(--color-liver);
}

nav a, a:active a:focus, a:hover, a:visited {
  color: var(--white-color);
}

/* RESPONSIVE */

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  .gallery {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  section {
    padding: 40px 0;
  }

  * {
    scroll-margin-top: 80px;
  }

  nav > .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  nav > .wrapper > ul {
    justify-content: center;
  }

  .gallery {
    column-count: 1;
  }
}
  </style>
</head>
<body>
  <nav>
    <div class="wrapper">
      <div class="logo">Arta Biohof</div>
      <ul>
        {{ range $elem := . }}{{ if ne (index $elem.Metadata "anchor") "home"}}<li><a href="#{{ index $elem.Metadata "anchor" }}">{{ index $elem.Metadata "navname"}}</a></li>{{ end }}{{ end }}
      </ul>
    </div>
  </nav>
  <div class="content">
    {{ range $elem := . }}<section id="{{ index $elem.Metadata "anchor" }}"><div class="wrapper">
    {{ printf "%s" $elem.HTML }}
    </div></section>{{ end }}
  </div>
</body>
</html>
